/*
    Authors:
    >> Nathan TIROLF - { nathan.tirolf@epitech.eu }

    („• ֊ •„)❤  <  Have a good day !
    --U-----U------------------------
*/

/* colors */
:root {
    --color-light: #f7f7f7;
    --color-dark: #242424;
    --color-dark-2: #1a1a1a;
    --color-green: #00da50;
    --color-gray: #838383;
}

.color-light {
    color: var(--color-light);
}

.bg-color-light {
    background-color: var(--color-light);
}

.color-dark {
    color: var(--color-dark);
}

.bg-color-dark {
    background-color: var(--color-dark);
}

.color-dark-2 {
    color: var(--color-dark-2);
}

.bg-color-dark-2 {
    background-color: var(--color-dark-2);
}

.color-green {
    color: var(--color-green);
}

.bg-color-green {
    background-color: var(--color-green);
}

.color-gray {
    color: var(--color-gray);
}

.bg-color-gray {
    background-color: var(--color-gray);
}
